{% from 'header.html' import header with context %}
{% from 'footer.html' import footer with context %}
{% from 'scripts.html' import common_scripts with context %}
<!DOCTYPE HTML>

<html>
    <head>
        <title>Film Advisor | About</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="{{ app.router.static.url(filename='js/ie/html5shiv.js') }}"></script><![endif]-->
        <link rel="stylesheet" href="{{ app.router.static.url(filename='css/main.css') }}" />
        <!--[if lte IE 9]><link rel="{{ app.router.static.url(filename='css/ie9.css') }}" /><![endif]-->
        <!--[if lte IE 8]><link rel="{{ app.router.static.url(filename='css/ie8.css') }}" /><![endif]-->
    </head>
    <body>
        <!-- Wrapper -->
            <div id="wrapper">

                {{ header() }}

                <!-- Main -->
                    <div id="main">
                        <div class="inner">
                            <h1>About</h1>
                            <p>My name is Alex Sanchez. Film Advisor is a pet project of mine to get myself acquainted with web development using Python and asyncio/aiohttp. You can check the code for this project and some other stuff I'm working on on my <a href="https://github.com/yonjuuni" target="_blank">GitHub profile</a>. Cheers!</p>
                        </div>
                    </div>

                {{ footer () }}

            </div>

            {{ common_scripts() }}

    </body>
</html>
