{% macro header() %}
<!-- Header -->
<header id="header">

    <div class="inner">
        <!-- Logo -->
            <a href="/" class="logo">
                <span class="symbol"><img src="{{ app.router.static.url(filename='images/logo.svg') }}" alt="" /></span><span class="title">Film Advisor</span>
            </a>

        <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>
    </div>

</header>

<!-- Menu -->
<nav id="menu">
<h2>Menu</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/popular">Popular</a></li>
        <li><a href="/top">Top Rated</a></li>
        <li><a href="/upcoming">Upcoming</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>
{% endmacro %}
