<!-- Header -->
<header id="header">
  <div class="inner">
    <!-- Logo -->
    <h1><a href="/" class="logo">
      <i class="fa fa-ticket" aria-hidden="true"></i><span class="title">Film Advisor</span>
    </a></h1>

    <!-- Nav -->
    <nav>
      <ul>
        <li><a href="#menu">Menu</a></li>
      </ul>
    </nav>
  </div>
</header>
<!-- Menu -->
<nav id="menu">
<h2>Menu</h2>
  <ul>
    <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>  Home</a></li>
    <li><a href="/popular"><i class="fa fa-fire" aria-hidden="true"></i>  Popular</a></li>
    <li><a href="/top"><i class="fa fa-star" aria-hidden="true"></i> Top Rated</a></li>
    <li><a href="/upcoming"><i class="fa fa-calendar" aria-hidden="true"></i>  Upcoming</a></li>
    <li><a href="/about"><i class="fa fa-info-circle" aria-hidden="true"></i>  About</a></li>
  </ul>
</nav>
